@page "/"
@using Minitwit.Core.Entities
@using Minitwit.Core.Repository
@using Minitwit.Web.Pages
@using Minitwit.Web.Helpers

@using FluentValidation
@model Minitwit.Web.Pages.MyTimelineModel

@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@inject IValidator<CreateMessage> Validator
@inject IMessageRepository MessageRepository

@{
    ViewData["Title"] = "My Timeline";
    Layout = "Shared/_Layout";
}

<h2>@ViewData["Title"]</h2>

<div class="twitbox"> 
    @await Html.PartialAsync("Shared/_MessageBox", new NewMessage { Text = "" })
</div>

@if (Model.Messages?.Any() == true)
{
    <ul class="messages">
        @if (!Model.Messages?.Any() ?? true)
        {
            <li><em>There's no message so far.</em></li>
        }
        else
        {
            @foreach (var message in Model.Messages)
            {
                <li>
                    <img src="@Gravatar.GetGravatarUrl(message.User.Email)" alt="User Avatar" />
                    <p>
                        <strong>
                            <a href="/user/@message.User.Username">@message.User.Username</a>
                        </strong>
                        @message.Message
                        <small>&mdash; @message.Timestamp.ToString("yyyy-MM-dd @ HH:mm")</small>
                    </p>
                </li>
            }
        }
    </ul>
}

else
{
    <em>There's no message so far.</em>
}