@page "/{author}"
@using Minitwit.Core.Entities
@using Minitwit.Core.Repository
@using Minitwit.Web.Pages
@using Minitwit.Web.Helpers

@using FluentValidation
@model Minitwit.Razor.Pages.UserTimelineModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@inject IValidator<CreateMessage> Validator
@inject IAuthorRepository AuthorRepository
@inject IMessageRepository MessageRepository


@{
    var routeName = HttpContext.GetRouteValue("author")?.ToString();
    var currentUser = User.Identity?.Name;
    var isCurrentUser = string.Equals(routeName, currentUser, StringComparison.OrdinalIgnoreCase);
    var isLoggedIn = User.Identity?.IsAuthenticated ?? false;
    ViewData["Title"] = isLoggedIn 
        ? (isCurrentUser ? "My Timeline" : $"{routeName}'s Timeline") 
        : "My Timeline";
}

<div>
    <h2>@ViewData["Title"]</h2>

    @if (SignInManager.IsSignedIn(User))
    {
        @if (isCurrentUser)
        {
            <div class="twitbox">
                @await Html.PartialAsync("Shared/_MessageBox", new NewMessage { Text = "" })
            </div>
        }
        else
        {
            var profileUser = Model.user;
            // var followed = Model.;

            <div class="followstatus">
                @if (profileUser != null && profileUser.UserName == currentUser)
                {
                    <p>This is you!</p>
                }
                else
                {
                    <p>You are not yet following this user.</p>
                    <a class="follow" asp-action="Follow" asp-route-username="@profileUser.UserName">Follow user</a>
                }
            </div>
        }
    }

    <ul class="messages">
        @if (!Model.Messages?.Any() ?? true)
        {
        <li><em>There's no message so far.</em></li>
        }
        else
        {
        @foreach (var message in Model.Messages)
        {
        <li>
            <img src="@Gravatar.GetGravatarUrl(message.User.Email)" alt="User Avatar" />
            <p>
                <strong>
                    <a href="/@message.User.Username">@message.User.Username</a>
                </strong>
                @message.Message
                <small>&mdash; @message.Timestamp.ToString("yyyy-MM-dd @ HH:mm")</small>
            </p>
        </li>
        }
        }
    </ul>
</div>

@section Scripts {
    <partial name="/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml" />
}
