@using Minitwit.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="data:," />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    @RenderSection("Scripts", required: false)
</head>
<body>
<div class=page>
    <h1>MiniTwit</h1>

    <div class="navigation">
        @if (SignInManager.IsSignedIn(User) && User.Identity != null)
        {
            <div>
                <a href="/">my timeline</a> |
                <a href="/public">public timeline</a> |
                <a href="@Url.Page("/Account/Logout", new { area = "Identity", returnUrl = Url.Page("/Index", new { area = "" }) })">
                    sign out [@User.Identity?.Name]
                </a>
            </div>
        }
        else
        {
            <div>
                <a href="/public">public timeline</a> |
                <a asp-area="Identity" asp-page="/Account/Register" class="nav-link text-dark">sign up</a> |
                <a asp-area="Identity" asp-page="/Account/Login" class="nav-link text-dark">sign in</a>
            </div>
        }
    </div>
    
    @if (TempData["FlashMessage"] != null)
    {
    <ul class="flashes">
        <li>@TempData["FlashMessage"]</li>
    </ul>
    }
    
    <div class=body>
        @RenderBody()
    </div>
    <div class=footer>
        MiniTwit c-sharp-razor Application
    </div>
</div>

</body>
</html>